.menuJS {
  gap: clamp(0.5rem, 1.5vw, 1rem);
  display: flex;
  justify-content: center;
  margin: auto; /* Centraliza o menu */
  white-space: nowrap;       /* o item vai pra nova linha, não “explode” pro lado */
}
.itens-menuJS {
  font-size: clamp(14px, 1.5vw, 18px); /* Fonte responsiva */
  color: rgb(34, 32, 32);
  padding: 0.5rem clamp(0.5rem, 1.5vw, 1rem); /* Padding responsivo */
  list-style: none;
  cursor: pointer;
  min-width: min-content; /* Largura mínima adaptável */
  white-space: nowrap; /* Impede quebra de texto */
  transition: all 0.3s ease-in-out;
  overflow-x: scroll;
  
  cursor: grabbing;


  

}


.itens-menuJS:hover {
  color: #e7eaeb;
  scale: 105%;
}
/* MEDIA QUERIES PARA RESPONSIVIDADE */
@media (max-width: 1208px) {
  .menuJS {
    display: flex;
    margin: auto;
    justify-content: center;
    margin-top: 5rem;
  }
  .itens-menuJS {
    padding: 0rem 0.4rem;
    font-size: 15px;
    min-width: min-content;
  }
}
@media (max-width: 655px) {
  .menuJS {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    justify-content: center;
    margin-top: 15%;
    padding: 0;
  }
  .itens-menuJS {
    font-size: 0.9rem;
  }
}
/*  ---------------------  Mobile */
@media (max-width: 480px) {
  .menuJS {
    order: 3;
  }
  .itens-menuJS {
    font-size: 15px;}
}
@media (max-width: 440px) {
  .menuJS {
    order: 3; 
    justify-items: center;
    align-items: center;
    padding: 10px 10px;
  }
  .itens-menuJS {
    font-size: 15px;
  }
}
@media (max-width: 410px) {/* Telas muito pequenas (mobile landscape) */
  .menuJS {
    gap: 1px;
    order: 3; 
    justify-content: center;
  }
  .itens-menuJS {
    font-size: 14px;
  }
}
@media (max-width: 370px) {
  .menuJS {
    gap: 1px;
    order: 3; /* Coloca o menu embaixo em telas muito pequenas */
    justify-content: center;
  }
  .itens-menuJS {
    font-size: 12px;
  }
}
@media (max-width: 350px) {
  .menuJS {
    gap: 1px;
    order: 3; /* Coloca o menu embaixo em telas muito pequenas */
    justify-content: center;
  }
  .itens-menuJS {
    font-size: 12px;
  }
}